name: Swift format

on:
  pull_request:
  push:
    branches: [main]

jobs:
  lint:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: ./.github/actions/ci-setup

      - name: Format and lint with swift-format
        run: |
          set -euo pipefail
          ./run format
          git diff --exit-code
